.donate-fab{
    position: fixed;
    right: 0px;
    bottom: 30px!important;
    cursor: pointer;
}

.modalDonate{
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    /*transition: 0.4s;*/
    opacity: 0;
    overflow: hidden;
}

.modalDonate.open{
    z-index: 100;
    transform: scale(1);
    opacity: 1;
    overflow: visible;
}

.maskBackground{
    background-color: rgb(33, 33, 33);
    opacity: 0.9;
    position: absolute;
    top: 0;
    z-index: 101;
    cursor: pointer;
    left: 0;
    right: 0;
    bottom: 0;
}

.modalDonateBody{
    background-color: white;
    position: absolute;
    z-index: 102;
    width: 622px;
    height: 587px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.4s;
    padding: 42px;
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0 0 0 0.25);
}

.modalDonate.open .modalDonateBody{
    transform: translate(-50%, -50%) scale(1);

}

.modalDonateContent{
}
.modalDonateContent h2.title{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    font-family: var(--font-2);
    color: #f73481;
}
.modalDonateContent p.thankYou{
    font-style: italic;
    font-weight: 400;
    letter-spacing: -.0025em;
    color: #8b8b8b;
}

.modalDonateContent .listPerson{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

.modalDonateContent .listPerson .itemPerson {
    width: 50%;
    text-align: center;
    font-size: 14px;
}

.modalDonateContent .listPerson .itemPerson .home{
    font-weight: 700;
    font-size: 20px;
}

.modalDonateContent .listPerson .itemPerson img{
    width: 100%;
    padding: 25px;
    object-fit: cover;
}

.modalDonateContent .btnClose{
    width: 100%;
    text-align: center;
}

.modalDonateContent .btnClose .btn_close{
    background: #ff8917;
    border-radius: 8px;
    padding: 10px 30px;
    font-weight: 600;
    min-width: 120px;
    color: #fff;
    margin-top: 15px;
    text-align: center;
}


@media (max-width: 768px) {
    .modalDonateBody{
        width: calc(100% - 32px);
        padding: 40px 16px;
        height: auto;
    }
    .modalDonateContent h2.title {
        font-size: 20px;
    }
    .modalDonateContent p.thankYou {
        font-size: 16px;
        text-align: center;
    }
    .modalDonateContent .listPerson .itemPerson{
        padding: 0 8px;
    }
    .modalDonateContent .listPerson .itemPerson img{
        width: 100%;
        padding: 4px;
        object-fit: cover;
    }
}